@import 'variables';

@mixin large-phone {
  @media (min-width: $large-phone-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin larger-tablet {
  @media (min-width: $larger-tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin larger-desktop {
  @media (min-width: $larger-desktop-breakpoint) {
    @content;
  }
}

@mixin align-paragraph {
  font-size: 0.75rem;
  line-height: 1.125rem;
}

@mixin align-tablet-paragraph {
  font-size: 0.875rem;
  line-height: 1.375rem;
  & p {
    margin: 0;
  }
}

@mixin shows-headers {
  color: #AFAFAF;
  font-size: 0.875rem;
  font-family: 'Avenir-Demi';
  margin: 1rem 0;
}